<% include header %>
	
	<table class="ui striped table">
	 	<thead>
	    	<tr>
		      	<th>ID</th>
		      	<th>用户名</th>
		      	<th>日期</th>
		      	<th>内容</th>
		      	<th>影片名称</th>
		      	<th>影片id</th>
	    	</tr>
	  	</thead>
		<tbody>
		 <% comments.forEach(function(comment){ %>
			<tr>
	    		<td><%=  comment.id %></td>
	    		<td><%=  comment.userName %></td>
	    		<td><%=  comment.date %></td>
	    		<td><%=  comment.content %></td>
	    		<td><%=  comment.videoName %></td>
	    		<td><%=  comment.uid %></td>
	    	</tr>
		 <% }) %>
		</tbody>
	</table>
	<div id="page">
		<% if(dataLength == 0 ){ %>
			<p>现在还没有数据，赶快去添加吧！</p>
		<% } %>
		<% min =  nowPage - 2 < 1 ? 1 : nowPage - 2 %>
		<% max =  nowPage + 2 > dataLength ? dataLength : nowPage + 2 %>
		<% if(nowPage != 1) { %>
			<a href="/comment?page=<%= 1 %>">首页</a>
			<a href="/comment?page=<%= nowPage-1 %>">上一页</a>
		<% } %>
		<% for(var i = min ; i <= max ; i++ ){ %>
			<% if( nowPage == i){ %>
				<a class="active" href="/comment?page=<%= i %>">
					<%= i %>
				</a>
				<% }else{ %>
				<a href="/comment?page=<%= i %>">
					<%= i %>
				</a>
			<% } %>
		<% } %>
		<% if(nowPage != dataLength  && dataLength > 0) { %>
			<a href="/comment?page=<%= nowPage+1 %>">下一页</a>
			<a href="/comment?page=<%= dataLength %>">尾页</a>
		<% } %>
		<% if(dataLength > 0 ){ %>
			<span>共<%= dataLength %>页</span>	
		<% } %>
	</div>
<% include footer %>          